<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <!-- this tag works in line by line manner -->
    <!-- run js code in html files -->
    <% if( nameOfDay == "Saturday" || nameOfDay == "Sunday"){ %>
      <h1 style="color:purple">It is <%= nameOfDay %></h1>
    <% }else{ %>
      <h1 style="color:blue">It is <%= nameOfDay %></h1>
    <% }  %>

  </body>
</html>
